h1{
    border: 2px #00fdcc solid;
    color: #b43030;
    text-align: center;
    padding: 20px;
}
{
    box-sizing: border-box;
}

body {
    margin:0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0079FEFF;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    color: #f9f6f6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #00FDC2FF;
}
