<!doctype html>
<html lang="en">
    <head>
        <!---- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1, shrink-to-fit="no">

        <!-- Bootrap CSS-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"&gt;
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css')}}">
        <script  src="{{ url_for('static', filename= 'js/script.js')}}"></script>
    </head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg light">
        <a class="navbar-brand" href="{{url_for('index')}}">Flaskblog</a>
        <button class="navbar-toggler" type="button" data toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navugation">
        <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="https://mrparba.github.io/">Activity 1</a>
                <a class="nav-link" href="https://johnbenedictcastillo.github.io/bsitB/echavaria-parba/index.html">Activity 2</a>
                <a class="nav-link" href="https://mrparba.github.io/itel-203/forms.html">Activity 3</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

  </body>
</html>
